.section-pricingTable{
    width: 100%;
}

.section-pricingTable .container{
    width: 100%;
    padding: 20px;
}

table, th, td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

td img{
    width: 200px;
}