*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* Horizontal Navigation Bar */

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #dddddd;
    overflow: hidden;
}

li{
    display: inline;
    float: left;
}

li a{
    display: block;
    padding: 14px 45px;
    background-color: #dddddd;
    text-decoration: none;
    border: 1px solid #bbb;
}

li a:hover{
    background-color: #bbb;
    color: #000000;
}

.active{
    background-color: #04AA6D;
    color: #ffffff;
}

/* Background Image*/

.backgroundImg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 20px;
}

.backImg{
    background-image: url('../assets/pics/img01.jpg');
    width: 800px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
